header{

    #presentacion{
        margin-bottom: 30px;
        background-color: #3b8eed;
        padding: 10px;
        border-radius: 10px;
    }

    div{
        margin: 10px;
    }
     
    p{
        text-align: justify;
    }

    img{
        border-radius: 10px;
        width: 100%;
    }

    #imagen{
        display: grid;
        place-content: center;
        

    }


}

section{
    margin: 50px;
}

#primeraS{
    background-color: #3b8eed;
    padding: 10px;
}

